# Wallet address for remote RPC calls
export SENDER=""

# Private key
export PRIVATE_KEY=""

# Wallet address for local (below is default anvil settings)
export LOCAL_SENDER="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
export LOCAL_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

# Testnet RPC URLs
export SEPOLIA_RPC_URL=""
export OPTIMISM_SEPOLIA_RPC_URL=""
export ARBITRUM_SEPOLIA_RPC_URL=""

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=""
export ARBITRUM_ETHERSCAN_API_KEY=""
export OPTIMISM_ETHERSCAN_API_KEY=""

# Used to run Hardhat scripts in fork mode
export FORK_ENABLED=true

# Used to report gas usage when running Forge tests
export FORGE_GAS_REPORT=true
