[submodule "lib/pt-v5-twab-delegator"]
	path = lib/pt-v5-twab-delegator
	url = https://github.com/GenerationSoftware/pt-v5-twab-delegator
[submodule "lib/pt-v5-vault-boost"]
	path = lib/pt-v5-vault-boost
	url = https://github.com/generationsoftware/pt-v5-vault-boost
[submodule "lib/pt-v5-rng-blockhash"]
	path = lib/pt-v5-rng-blockhash
	url = https://github.com/GenerationSoftware/pt-v5-rng-blockhash
[submodule "lib/pt-v5-mainnet"]
	path = lib/pt-v5-mainnet
	url = https://github.com/GenerationSoftware/pt-v5-mainnet
	branch = gen-1268-update-mainnet-deploy-script-with-pool-prize-vault
